<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
      <center>
    <ul class="nav navbar-nav">
      <li class="home"><a href="/"><span class="glyphicon glyphicon-home"></span></li></a>
      <li class="map"><a href="/map"><span class="glyphicon glyphicon-map-marker"></span></li></a>
      <li class="foodrecycle"><a href="/foodrecycle"><span class="glyphicon glyphicon-trash"></span></li></a>
      <li class="settings"><a href="/settings"><span class="glyphicon glyphicon-cog"></span></li></a>
    </ul>
    </center>
  </div>
</nav>