<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <% include partials/bootstrap %>
        <% include css/general %>
        <script type="text/javascript">
            // Check if the page is loaded and ready
            $(document).ready(function() {
                // Currently selects each of the elements with the filterSelect class name and uses jquery plug in Select2
                // to convert the select lists to searchable drop down lists
                $('select').select2();
                var data = <%- JSON.stringify(foodrecycleJson); %>
                var recents = <%- JSON.stringify(recents);%>
                recents = JSON.parse(recents);
                
                var materials = Object.keys(data.Materials);

                for (var i=0;i < materials.length;i++)
                {
                    $("select[name=material]").append($('<option></option>').val(materials[i]).html(materials[i].replace("_"," ")));
                }
                
                $("select[name=material]").change(function(){
                    Material($(this).find("option:selected").val());
                });
                $("select[name=waste_method]").change(function(){
                    WasteMethodSelected($("select[name=material]").find("option:selected").val(), $(this).find("option:selected").val());
                });
                function Material(selectedTxt){
                    // Remove all options in the rest of the select lists
                    $("select[name=waste_method] option").remove();
                    // Added -1 to our dummy option to avoid trying to use it to find JSON values
                    if(selectedTxt != -1){
                        var waste_methods = Object.keys(data.Materials[selectedTxt].Waste_Method);
                        for (var i=0;i < waste_methods.length;i++)
                        {
                            $("select[name=waste_method]").append($('<option></option>').val(waste_methods[i]).html(waste_methods[i].replace("_"," ")));
                        }
                        $('input[name=type]').val(data.Materials[selectedTxt].Type);
                        WasteMethodSelected(selectedTxt, waste_methods[0]);
                    }
                }
                function WasteMethodSelected(MaterialTxt, selectedTxt){
                    var constant = data.Materials[MaterialTxt].Waste_Method[selectedTxt];
                    if($("input[name=quantity]").val() > 0){
                        updateEmissionLbl(constant*$("input[name=quantity]").val());
                    }
                }
                $("input[name=quantity]").bind('keyup mouseup', function () {
                    // Added -1 to our dummy option to avoid trying to use it to find JSON values
                    if($("select[name=material]").find("option:selected").val() != -1){
                        var constant = data.Materials[$("select[name=material]").find("option:selected").val()].Waste_Method[$("select[name=waste_method]").find("option:selected").val()];
                        if(constant != null){
                            updateEmissionLbl(constant*$(this).val());
                        }
                    }
                });
                function updateEmissionLbl(value){
                    $('label[name=emissionsLabel]').text(value + " lbs CO2 net emission");
                    $('input[name=emissions]').val(value);

                    
                }
    
                $( ".foodrecycle" ).addClass( "active" );
                
                $("input[name=option]").change(function(){
                    $("#RecentList option").not(':first').remove();
                    
                    recents[$(this).val()].forEach(function(element, index) {
                        var option = element.material.replace("_"," ") + ", " + element.waste_method;
                        $("#RecentList").append($("<option/>", {
                            value: index,
                            text: option
                        }));
                    });
                    
                });

                $("#RecentList").change(function(){
                    var index = $(this).val();
                    if(index != -1){
                        var option = $('input[name=option]:checked').val();
                        $("select[name=material]").val(recents[option][index].material).change();
                        Material(recents[option][index].material);
                        $("select[name=waste_method]").val(recents[option][index].waste_method).change();               
                        WasteMethodSelected(recents[option][index].material, recents[option][index].waste_method);
                    }
                });

            });
  </script>
</head>
<body>
    <% include partials/navbar %>
    <center><H1>Welcome to the Food and Recycling</H1><br></center>
    <div class="form-group" id="recentSection">
        <center>
            <label class="control-label" for="Recent_id">Autofill</label><br>
            <input type="radio" name="option" value="time">Recent</input>
            <input type="radio" name="option" value="popularity">Popular</input><br>
            <select class="form-control" for="Recent_id" id="RecentList" style="width:80%"><option value="-1">Select an option to autofill</option></select><br>
        </center>
    </div><br>

    <form action="/post-user-foodrecycle" method="post" id="foodrecycleform">
        <center>
            <div class="form-group">
                <label class="control-label" for="material_id">Material</label><br>
                <select class="form-control" for="material_id" id="material_id" name="material" form="foodrecycleform" style="width:80%">
                    <option value="-1">Please select a material</option>
                </select><br>

                <label class="control-label" for="waste_method_id">Waste Method</label><br>
                <select class="form-control" for="waste_method_id" id="waste_method_id" name="waste_method" form="foodrecycleform" style="width:80%"></select><br>

                <label class="control-label" for="quantity_id">Quantity</label><br>				
                <input class="form-control" for="quantity_id" type="number" min="1" name="quantity" form="foodrecycleform" style="width:80%"></input><br>

                <label class="control-label" name="emissionsLabel">...</label>
                <input type="text" Readonly="readonly" style="display:none" name="emissions" form="foodrecycleform">
                
                <input type="text" Readonly="readonly" style="display:none" name="type" form="foodrecycleform">
            
            </div>
            <input class="btn btn-primary" name="submit" type="submit">
        </center>
    </form>
</body>
</html>