<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <% include partials/bootstrap %>
        <% include css/general %>
        <style>
            .recent{
                cursor: pointer;
                border: 1px solid black;
                list-style: none;
                margin-bottom: 2px;
            }
        </style>
        <script type="text/javascript">
            // Check if the page is loaded and ready
            $(document).ready(function() {
                // Currently selects each of the elements with the filterSelect class name and uses jquery plug in Select2
                // to convert the select lists to searchable drop down lists
                $('select').select2();
                var data = <%- JSON.stringify(foodrecycleJson); %>
                var recents = <%- JSON.stringify(recents);%>
                recents = JSON.parse(recents);
                
                var materials = Object.keys(data.Materials);
                // Adds a dummy option indicating the user to select a year
                $("select[name=material]").append($('<option></option>').val("-1").html("Please select a material"));
                for (var i=0;i < materials.length;i++)
                {
                    $("select[name=material]").append($('<option></option>').val(materials[i]).html(materials[i].replace("_"," ")));
                }
                
                $("select[name=material]").change(function(){
                    Material($(this).find("option:selected").val());
                });
                $("select[name=waste_method]").change(function(){
                    WasteMethodSelected($("select[name=material]").find("option:selected").val(), $(this).find("option:selected").val());
                });
                function Material(selectedTxt){
                    // Remove all options in the rest of the select lists
                    $("select[name=waste_method] option").remove();
                    // Added -1 to our dummy option to avoid trying to use it to find JSON values
                    if(selectedTxt != -1){
                        var waste_methods = Object.keys(data.Materials[selectedTxt].Waste_Method);
                        for (var i=0;i < waste_methods.length;i++)
                        {
                            $("select[name=waste_method]").append($('<option></option>').val(waste_methods[i]).html(waste_methods[i].replace("_"," ")));
                        }
                        
                        WasteMethodSelected(selectedTxt, waste_methods[0]);
                    }
                }
                function WasteMethodSelected(MaterialTxt, selectedTxt){
                    var constant = data.Materials[MaterialTxt].Waste_Method[selectedTxt];
                    if($("input[name=quantity]").val() > 0){
                        updateEmissionLbl(constant*$("input[name=quantity]").val());
                    }
                }
                $("input[name=quantity]").bind('keyup mouseup', function () {
                    // Added -1 to our dummy option to avoid trying to use it to find JSON values
                    if($("select[name=material]").find("option:selected").val() != -1){
                        var constant = data.Materials[$("select[name=material]").find("option:selected").val()].Waste_Method[$("select[name=waste_method]").find("option:selected").val()];
                        if(constant != null){
                            updateEmissionLbl(constant*$(this).val());
                        } 
                    }
                });
                function updateEmissionLbl(value){
                    $('label[name=emissionsLabel]').text(value + " lbs CO2 net emission");
                }
    
                $( ".foodrecycle" ).addClass( "active" );
                
                $(".recent").each(function(i,obj){
                    if(!jQuery.isEmptyObject(recents) && i < Object.keys(recents).length){
                        $(this).removeAttr("style");
                        $(this).text(
                            recents[i][0].replace("_", " ") + ", " +
                            recents[i][1] + ", " +
                            recents[i][2]
                        );
                    }

                });

                
                $(".recent").click(function(){
                    var index = $(".recent").index(this)
                    populateFields(recents[index][0].replace(" ","_"), recents[index][1], recents[index][2]);
                });

                function populateFields( material, waste_method, quantity){
                    
                    Material(material);
                    $("select[name=material]").val(material).change();

                    $("input[name=quantity]").val(quantity).change();

                    WasteMethodSelected(material, waste_method);
                    $("select[name=waste_method]").val(waste_method).change();
                }
            });
  </script>
</head>
<body>
  <% include partials/navbar %>
  <center><H1>Welcome to the Food and Recycling page</H1><br></center>
  <div class="form-group" id="recentSection">
    <center>
        <div style="width:50%">
            <label class="control-label" for="Recent_id">Recent</label><br>
            <li class="recent" style="display:none"></li>
            <li class="recent" style="display:none"></li>
            <li class="recent" style="display:none"></li>
        </div>
    </center>
  </div><br>
  
  <form action="/post-user-foodrecycle" method="post" id="foodrecycleform">
  <center>
  <div class="form-group">
    <label class="control-label" for="material_id">Material</label><br>
    <select class="form-control" id="material_id" name="material" form="foodrecycleform" style="width:120px"></select><br>

    <label class="control-label" for="waste_method_id">Waste Method</label><br>
    <select class="form-control" id="waste_method_id" name="waste_method" form="foodrecycleform" style="width:120px"></select><br>

    <label class="control-label" for="quantity_id">Quantity</label><br>				
    <input class="form-control" for="quantity_id" type="number" min="1" name="quantity" form="foodrecycleform" style="width:120px"></input><br>
    
    <label class="control-label" name="emissionsLabel">...</label>
    <input type="text" Readonly="readonly" style="display:none" name="emissions" form="foodrecycleform">
  </div>
  <input class="btn btn-primary" name="submit" type="submit">
  </center>
</form>
</body>
</html>