<html>
<head>
  <% include partials/bootstrap %>
</head>
<body>
  Aspire App
  <br>
  <a href="/settings"><button>Settings</button></a>
  <br>
  <a href="/map"><button>Map</button></a>
</body>
</html>