<html>
<head>
  <% include partials/bootstrap %>
  <style>
    <% include css/general %>
  </style>
</head>
<body>
  <% include partials/navbar %>
  Aspire App
  <br>
  <a href="/settings"><button>Settings</button></a>
  <br>
  <a href="/map"><button>Map</button></a>
</body>
</html>