<html>
<head>
  <% include partials/bootstrap %>
  <style>
    <% include css/general %>
  </style>
</head>
<body>
  <% include partials/navbar %>
  Aspire App
  Hello, <%= user.displayName %>!
  <%
  for(var i = 0; i < 10; i++){%>
    <li><%= JSON.parse(stream)[i].message; %></li>
  <%}%> 
  %>
</body>
</html>