<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<% include partials/bootstrap %>
	<style>
    <% include css/general %>
  </style>
	<script type="text/javascript">
		// Check if the page is loaded and ready
		$(document).ready(function() {
			// Currently selects each of the elements with the filterSelect class name and uses jquery plug in Select2
			// to convert the select lists to searchable drop down lists
			$('.filteredSelect').select2();

			// Adds a dummy option indicating the user to select a year
			$("select[name=year]").append($('<option></option>').html("Please select a year"));

			for (var i=1998;i<=2018;i++)
			{ 
				$("select[name=year]").append($('<option></option>').val(i).html(i));
			}
			

			var data = <%- JSON.stringify(transportationJson); %>
			var userSettings = <%- JSON.stringify(userSettingsJson); %>

			// Check if the user has a car saved into the database
			if(userSettings.rows.length > 0){
				yearSelected(userSettings.rows[0].year);
				$("select[name=year]").val(userSettings.rows[0].year);

				makeSelected(userSettings.rows[0].make);
				$("select[name=make]").val(userSettings.rows[0].make);
				
				modelSelected(userSettings.rows[0].model);
				$("select[name=model]").val(userSettings.rows[0].model);
				
				transmissionSelected(userSettings.rows[0].transmission);
				$("select[name=transmission]").val(userSettings.rows[0].transmission);
				
				engineSelected(userSettings.rows[0].engine);
				$("select[name=engine]").val(userSettings.rows[0].engine);				

				if(userSettings.rows[0].engine != "Electric"){
					aspirationSelected(userSettings.rows[0].aspiration);
					$("select[name=aspiration]").val(userSettings.rows[0].aspiration);
				}
			}



			var filteredY;
			$("select[name=year]").change(function(){
				yearSelected($(this).find("option:selected").text());
			});
			
			var filteredYMa;
			$("select[name=make]").change(function(){
				makeSelected($(this).find("option:selected").text());
			});

			var filteredYMaMo;
			$("select[name=model]").change(function(){
				modelSelected($(this).find("option:selected").text());
			});

			
			var filteredYMaMoT;
			$("select[name=transmission]").change(function(){
				transmissionSelected($(this).find("option:selected").text());
				
			});

			var filteredYMaMoTE;
			$("select[name=engine]").change(function(){
				engineSelected($(this).find("option:selected").text());
			});

			var filteredYMaMoTEA;
			$("select[name=aspiration]").change(function(){
				aspirationSelected($(this).find("option:selected").text());
			});


			function yearSelected(selectedTxt){
				// Remove all the options from each of the lists
				$("select[name=make] option").remove();
				$("select[name=model] option").remove();
				$("select[name=transmission] option").remove();
				$("select[name=engine] option").remove();
				$("select[name=aspiration] option").remove();
				
				
				filteredY = $(data).filter(function (i,n){
					if (n.Year == selectedTxt){
						$("select[name=make]").append($('<option></option>').val(n.Make).html(n.Make));
						return n;
					}
				});

				removeDups($("select[name=make] option"));
				
				if(filteredY.length > 0){
					// Adds a dummy option indicating the user to select a make
					$("select[name=make]").prepend($('<option selected></option>').html("Please select a Make"));
				}

			}
			function makeSelected(selectedTxt){
				// Remove all options in the rest of the select lists
				$("select[name=model] option").remove();
				$("select[name=transmission] option").remove();
				$("select[name=engine] option").remove();
				$("select[name=aspiration] option").remove();

				filteredYMa = $(filteredY).filter(function (i,n){
					if (n.Make == selectedTxt){
						$("select[name=model]").append($('<option></option>').val(n.Model).html(n.Model));
						return n;						
					}
				
				});
				removeDups($("select[name=model] option"));

				if(filteredYMa.length > 0){
					// Adds a dummy option indicating the user to select a Model
					$("select[name=model]").prepend($('<option selected></option>').html("Please select a Model"));
				}
			}
			function modelSelected(selectedTxt){
				// Remove all options in the remaining lists
				$("select[name=transmission] option").remove();
				$("select[name=engine] option").remove();
				$("select[name=aspiration] option").remove();
				
				filteredYMaMo = $(filteredYMa).filter(function (i,n){
					if (n.Model == selectedTxt){
						$("select[name=transmission]").append($('<option></option>').val(n.Transmission).html(n.Transmission));
						return n;						
					}
				
				});
				removeDups($("select[name=transmission] option"));

				if(filteredYMaMo.length > 0){
					// Adds a dummy option indicating the user to select a transmission
					$("select[name=transmission]").prepend($('<option selected></option>').html("Please select a Transmission"));
				}
			}
			function transmissionSelected(selectedTxt){
				// Remove all the options in the remaining lists
				$("select[name=engine] option").remove();
				$("select[name=aspiration] option").remove();

				filteredYMaMoT = $(filteredYMaMo).filter(function (i,n){
					if (n.Transmission == selectedTxt){
						$("select[name=engine]").append($('<option></option>').val(n.Engine).html(n.Engine)
						);
						return n;						
					}
				
				});

				removeDups($("select[name=engine] option"));
				if(filteredYMaMoT.length > 0){
					// Adds a dummy option indicating the user to select an Aspiration
					$("select[name=engine]").prepend($('<option selected></option>').html("Please select a Engine"));
				}
			}
			
			function engineSelected(selectedTxt){
				$("select[name=aspiration] option").remove();
				filteredYMaMoTE = $(filteredYMaMoT).filter(function (i,n){
					if (n.Engine == selectedTxt){
						$("select[name=aspiration]").append($('<option></option>').val(n.Aspiration).html(n.Aspiration));
						return n;						
					}
				});
				
				if(selectedTxt == "Electric"){
					$('input[name=car_output]').val(filteredYMaMoTE[0].KwHPerMile);
					$('label[name=carOutputLabel]').text(filteredYMaMoTE[0].KwHPerMile + " KwH/mile");
					
				}else{
					removeDups($("select[name=aspiration] option"));
					if(filteredYMaMoTE.length > 0){
						// Adds a dummy option indicating the user to select a year
						$("select[name=aspiration]").prepend($('<option selected></option>').html("Please select an aspiration"));
					}
				}

			}

			function aspirationSelected(selectedTxt){
				filteredYMaMoTEA = $(filteredYMaMoTE).filter(function (i,n){
					if (n.Aspiration == selectedTxt){
						return n;						
					}
				});

				$('input[name=car_output]').val((filteredYMaMoTEA[0].gCO2PerMile)*0.00220462);
				$('label[name=carOutputLabel]').text((filteredYMaMoTEA[0].gCO2PerMile)*0.00220462 + " lbs CO2/mile");
			}
			/*$("#bttnAddCar").click(function(){
				//var clone = $("#carTable tbody tr:last").clone();
				//var carNum = parseInt(clone[0].children[0].outerText) + 1;
				//clone[0].children[0].outerText = carNum;
				$("#carTable tbody tr:last").after(clone);
			});
			*/


			// Function to remove duplicate options in a list
			function removeDups(listOptions){
				// Removes duplicate options in the select
				var usedNames = {};
				listOptions.each(function () {
					if(usedNames[this.text]) {
						$(this).remove();
					} else {
						usedNames[this.text] = this.value;
					}
				});
				
			}

		});

	</script>
</head>

<body>
<% include partials/navbar %>
Hello, <%= user.displayName %>!

<form action="/post-user-transportation-settings" method="post" id="settingsform">
Username:<input type="text" name="fname"><br>
<table id="carTable">
	<thead>
		<tr>
			<th>Car #</th>
			<th>Year</th>
			<th>Make</th>
			<th>Model</th>
			<th>Transmission</th>
			<th>Engine</th>
			<th>Aspiration</th>
			<th>Car Output</th>
		</tr>
	</thead>
	<tfoot>
		<tr>
			<td>
				<input id="bttnAddCar" type="button" value="Add car">
			</td>
		</tr>
	</tfoot>
	<tbody>
		<tr>
			<td>1</td>
			<td>
				<select class="filteredSelect" name="year" form="settingsform" style="width:120px"></select>
			</td>
			<td>
				<select class="filteredSelect" name="make" form="settingsform" style="width:120px"></select>							
			</td>
			<td>
				<select class="filteredSelect" name="model" form="settingsform" style="width:120px"></select>			
			</td>
			<td>
				<select class="filteredSelect" name="transmission" form="settingsform" style="width:120px"></select>		
			</td>
			<td>
				<select class="filteredSelect" name="engine" form="settingsform" style="width:120px"></select>		
			</td>
			<td>
				<select class="filteredSelect" name="aspiration" form="settingsform" style="width:120px"></select>		
			</td>
			<td>
				<label name="carOutputLabel">...</label>
				<input type="text" Readonly="readonly" style="display:none" name="car_output" form="settingsform" ><br>		
			</td>
		</tr>
	</tbody>
</table> <br>

  <input type="submit">
</form>
</body>
</html>