<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<% include partials/bootstrap %>

	<script  type="text/javascript">
		// Check if the page is loaded and ready
		$(document).ready(function() {
			var data = <%- JSON.stringify(transportationJson); %>;
			// Currently selects each of the elements with the filterSelect class name and uses jquery plug in Select2
			// to convert the select lists to searchable drop down lists
			$('.filteredSelect').select2();			

			// Adds a dummy option indicating the user to select a year
			$("select[name=yearlist]")
				.append($('<option></option>')
				.html("Please select a year")
				);

			for (var i=1998;i<2018;i++)
			{ 
				$("select[name=yearlist]")
					.append($('<option></option>')
					.val(i)
					.html(i)
					);
			}

			var filteredY;
			$("select[name=yearlist]").change(function(){
				// Remove all the options from each of the lists
				$("select[name=makelist] option").remove();
				$("select[name=modellist] option").remove();
				$("select[name=transmissionlist] option").remove();
				$("select[name=aspirationlist] option").remove();
				$("select[name=enginelist] option").remove();
				
				// Adds a dummy option indicating the user to select a make
				$("select[name=makelist]")
				.append($('<option></option>')
				.html("Please select a Make")
				);

				var selectedTxt = $("option:selected", this).text();
				filteredY = $(data).filter(function (i,n){
					if (n.Year == selectedTxt){
						$("select[name=makelist]")
							.append($('<option></option>')
							.val(n.Manufacturer)
							.html(n.Manufacturer)
							);
						return n;
					}
				});

				// Removes duplicate options in the select
				var usedNames = {};
				$("select[name=makelist] option").each(function () {
					if(usedNames[this.text]) {
						$(this).remove();
					} else {
						usedNames[this.text] = this.value;
					}
				});

			});
			
			var filteredYMa;
			$("select[name=makelist]").change(function(){
				// Remove all options in the rest of the select lists
				$("select[name=modellist] option").remove();
				$("select[name=transmissionlist] option").remove();
				$("select[name=aspirationlist] option").remove();
				$("select[name=enginelist] option").remove();
				
				// Adds a dummy option indicating the user to select a Model
				$("select[name=modellist]")
					.append($('<option></option>')
					.html("Please select a Model")
					);


				var selectedVal = $("option:selected", this).val();
				filteredYMa = $(filteredY).filter(function (i,n){
					if (n.Manufacturer == selectedVal){
						$("select[name=modellist]")
							.append($('<option></option>')
							.val(n.Model)
							.html(n.Model)
						);
						
						return n;						
					}
				
				});

				// Filter function to remove duplicate values in the select list
				var usedNames = {};
				$("select[name=modellist] option").each(function () {
					if(usedNames[this.text]) {
						$(this).remove();
					} else {
						usedNames[this.text] = this.value;
					}
				});
			});

			var filteredYMaMo;
			$("select[name=modellist]").change(function(){
				// Remove all options in the remaining lists
				$("select[name=transmissionlist] option").remove();
				$("select[name=aspirationlist] option").remove();
				$("select[name=enginelist] option").remove();

				// Adds a dummy option indicating the user to select a transmission
				$("select[name=transmissionlist]")
					.append($('<option></option>')
					.html("Please select a Transmission")
					);

				
				var selectedVal = $("option:selected", this).val();
				filteredYMaMo = $(filteredYMa).filter(function (i,n){
					if (n.Model == selectedVal){
						$("select[name=transmissionlist]")
							.append($('<option></option>')
							.val(n.Transmission)
							.html(n.Transmission)
						);
						return n;						
					}
				
				});
				// Removes duplicate options within the select list
				var usedNames = {};
				$("select[name=transmissionlist] option").each(function () {
					if(usedNames[this.text]) {
						$(this).remove();
					} else {
						usedNames[this.text] = this.value;
					}
				});
				
			});

			
			var filteredYMaMoT;
			$("select[name=transmissionlist]").change(function(){
				// Remove all the options in the remaining lists
				$("select[name=aspirationlist] option").remove();
				$("select[name=enginelist] option").remove();

				// Adds a dummy option indicating the user to select an Aspiration
				$("select[name=aspirationlist]")
					.append($('<option></option>')
					.html("Please select a Aspiration")
					);

				var selectedVal = $("option:selected", this).val();
				filteredYMaMoT = $(filteredYMaMo).filter(function (i,n){
					if (n.Transmission == selectedVal){
						$("select[name=aspirationlist]")
							.append($('<option></option>')
							.val(n.Aspiration)
							.html(n.Aspiration)
						);
						return n;						
					}
				
				});

				
				// Filter removes duplicate options in the select statement
				var usedNames = {};
				$("select[name=aspirationlist] option").each(function () {
					$("select[name=enginelist] option").remove();

					if(usedNames[this.text]) {
						$(this).remove();
					} else {
						usedNames[this.text] = this.value;
					}
				});
			});

			var filteredYMaMoTA;
			$("select[name=aspirationlist]").change(function(){
				// Adds a dummy option indicating the user to select a year
				$("select[name=enginelist]")
					.append($('<option></option>')
					.html("Please select an engine")
					);

				
				var selectedVal = $("option:selected", this).val();
				filteredYMaMoTA = $(filteredYMaMoT).filter(function (i,n){
					if (n.Aspiration == selectedVal){
						$("select[name=enginelist]")
							.append($('<option></option>')
							.val(n.Engine)
							.html(n.Engine)
						);
						return n;						
					}
				});

				// Filter that removes possible duplicate options from the select list
				var usedNames = {};
				$("select[name=enginelist] option").each(function () {
					if(usedNames[this.text]) {
						$(this).remove();
					} else {
						usedNames[this.text] = this.value;
					}
				});
			});

			var filteredYMaMoTAE;
			$("select[name=enginelist]").change(function(){
				var selectedVal = $("option:selected", this).val();
				filteredYMaMoTAE = $(filteredYMaMoTA).filter(function (i,n){
					if (n.Engine == selectedVal){
						return n;						
					}
				});
				var CO2 = $('#CO');
				CO2.text(((1/filteredYMaMoTAE[0].Fuel)*20).toFixed(2) + "lbs CO2/mile");
			});


		});

	</script>
</head>

<body>
Hello, <%= user.displayName %>!

<form action="/action" id="settingsform">
Username:<input type="text" name="fname"><br>
<table id="carTable">
	<tr>
		<th>Car #</th>
		<th>Year</th>
		<th>Make</th>
		<th>Model</th>
		<th>Transmission</th>
		<th>Aspiration</th>
		<th>Engine</th>
	</tr>
	<td>
		1
	</td>
	<td>
		<select class="filteredSelect" name="yearlist" form="settingsform" style="width:200px"></select>
	</td>
	<td>
		<select class="filteredSelect" name="makelist" form="settingsform" style="width:200px"></select>							
	</td>
	<td>
		<select class="filteredSelect" name="modellist" form="settingsform" style="width:200px"></select>			
	</td>
	<td>
		<select class="filteredSelect" name="transmissionlist" form="settingsform" style="width:200px"></select>		
	</td>
	<td>
		<select class="filteredSelect" name="aspirationlist" form="settingsform" style="width:200px"></select>		
	</td>
	<td>
		<select class="filteredSelect" name="enginelist" form="settingsform" style="width:200px"></select>		
	</td>
	<tfoot><tr><td><input id="addCar" type="button" value="Add car"></td></tr></tfoot>
</table> <br>

<p id="CO">CO2/mile: ... </p>

Secondary Transportation:
<select class="filteredSelect" name="secondarylist" form="settingsform">
	<% var year = 1998 %>
	<% for(var i = 0; i < 21; i++) { %>
		<option value=<<%=" + (year + i) + "%>><%= year + i %></option>
	<% } %>
</select><br>
  <input type="submit">
</form>
</body>
</html>